
<h2>
 Developers
</h2>
<h4>Fritz Duverglas</h4>
<br>
<h2>
  Inspiration
</h2>
<br>
<h4>
Sometimes, it gets difficult to find a movie that you want to watch. 
<br>
You get stuck thinking about what could be a good option, and sometimes, even have too many options that you forget them all.
<br>
This is where <strong>the movie finder</strong> comes in. If you need a little help finding a movie to watch, you can use the search bars on the home 
page to find a movie to watch, click on the movie link, and save it to your saved list. From there, you can access your saved list
and choose which onne you want to watch, and then delete it from your saved list when you are done :D
</h4>
