

    <div class="jumbotron">
        <h1 style="text-align:center">Welcome To The Movie Finder App</h1>
        <p></p>
    </div>

    <p style="text-align:center" class="p-3 m-3 border border-primary bg-light">
        Use the search bars below to find a movie and save it to your movies list!
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/movies/title">
            Show Movies by Title: 
              <input type="text" name="title" 
                     placeholder="e.g. La La Land">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/movies/actor">
            Show Movies by Actor: 
            <input type="text" name="actor" 
                   placeholder="e.g. Chris Pratt">
            <input type="submit">
        </form>
        <br>

        <form method="post" action="/movies/genre">
            Show Movies by Genre: 
            <input type="text" name="genre" 
                   placeholder="e.g. Action">
            <input type="submit">
        </form>
        <br>
        <a href="/movies/saved">Show Saved Movies</a>
    <% } %>


