body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CFF0CC;
}

a {
  color: #00B7FF;
}

.center {
  position: relative;
  top: 20%;
  left: 22%;
  /* transform: translate(0, -50%); */
}
